html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.bit{
  position: absolute;
  margin: auto;
  display: flex;
  left: 0; /* Start from the left edge */
  width: 200%; /* Double the width to create a seamless loop */
  height: 100%;
  //background-image: url(aboutImg/roadbg.png);
  background-position: center;
  background-size: cover;
  z-index: -9999;
  animation: animate 60s linear infinite;

}

hr {
  height: 2px;
  transform: scale(0.8);
  border: 0;
  background-color: #ccc;
  margin: 20px 0;
  padding: 0;
}

.sr {
  zoom: 0.6;
}

@keyframes animate {
  0%{
      background-position: 0px;
  }
  100%{
      background-position: -30000px;
  }
  
}

.background3 {
  background: linear-gradient(to bottom, #D99EC9 0%,#F6F0C4 30%,#e1c45e 70%,#F9C5D1 100%);
 
}
.me {
  width:24px;
  height:24px;

  animation: MoveUpDown 2s ease-in-out alternate infinite;
}
.meW {
  width:24px;
  height:24px;

  animation: MoveUpDown 2s ease-in-out alternate infinite;
           
}


.wheels {
  align-items: center;
  display:block;


  height: 200px;
  width: 200px;

  z-index: 999999; 
  
  position: relative;
  
  border-top: 3px solid transparent;
  border-radius: 25px;
  animation: MoveUpDown 2s ease-in-out alternate infinite;

  /*
  @media screen and (max-width: 1120px) {
    position: absolute;
    left: 65%;
}*/


}


.abouts {
  position: absolute;
  
  animation: MUD 5s ease-in-out alternate infinite;
}
.lW {
  top: 77%;
  margin-left: 8%;
}
.rW {
  top: 77%;
  margin-left: 34%;
  
}

.wheels img {
  width:48px;
  height:48px;
  position: relative;
  animation: rot 1s linear infinite;
 
        
}
.rot{
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  margin-right: -50%;
  transform: translate(-250%, 0%);
  z-index: 0; 
  
  position: absolute;
  
  border-top: 3px solid transparent;
  border-radius: 25px;
}
.hov{

  animation: hov 1s linear infinite;
}

.hov2{

  animation: hov 2s linear infinite;
}
.hov3{

  animation: hov 3s linear infinite;
}
.hov4{

  animation: hov 4s linear infinite;
}
.hov5{

  animation: hov 5s linear infinite;
}

@keyframes MoveUpDown {
  0%{
    transform: translate(-225%, 70%) ;
  }
  100% {
    transform: translate(-225%, 80%);
  }
  
}

@keyframes MUD {
  0%, 100% {
    top: 20%; /* Original position */
  }
  50% {
    top: calc(20% - 20px); /* Moves up by 20px */
  }
}

@keyframes hov {
  0% {
    transform: translateY(0);
  }
   100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  
}

@keyframes rot {
 
 
  100% {
    transform: rotate(360deg);
  }
}






